.static-iframe {
  width: 70%;
  margin: 0 auto;
  margin-top: 22px;

  .snip1527 {
    border: 1px solid #e6e6e6;
  }

  .iframe-title {
    font-size: 18px;
  }

  .figcaption {
    padding: 15px 20px;
  }

  .image-thumbnail {
    background-color: #515a65;
  }

  .iframe-thumbnail {
    width: 236px !important;
    height: 236px !important;
    margin: 0 auto;
  }

  .canonical {
    .icon {
      width: 18px;
      height: 18px;
      display: inline-block;
      // line-height: 16px;
      margin-right: 8px;

      img {
        width: 18px;
        height: 18px;
        display: inline-block;
      }
    }
  }

  .truncate {
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    display: inline-block;
  }

  .v-top {
    vertical-align: top;
  }
}